section.section.promo
    .container.promo__container
        .promo__content
            img(src="img/doctor.png", alt="фото доктора с банкой LevelUp").promo__img
            .promo__desc 
                h2.h2.promo__titel Описание продукта
                p.promo__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit incidunt ducimus dicta quaerat, sint molestias iste, sunt dolorem aspernatur nisi in deserunt harum minima voluptates praesentium maxime mollitia veritatis enim.
                p.promo__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit incidunt ducimus dicta quaerat, sint molestias iste, sunt dolorem aspernatur nisi in deserunt harum minima voluptates praesentium maxime mollitia veritatis enim.
                p.promo__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit incidunt ducimus dicta quaerat, sint molestias iste, sunt dolorem aspernatur nisi in deserunt harum minima voluptates praesentium maxime mollitia veritatis enim.
                p.promo__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit incidunt ducimus dicta quaerat, sint molestias iste, sunt dolorem aspernatur nisi in deserunt harum minima voluptates praesentium maxime mollitia veritatis enim.
        ul.promo__list
            - for (var i = 0; i < 3; i++)
                li.promo__item #{i+1} Lorem ipsum dolor sit amet, consectetur adipiscing elit.